<!--
    Node.js Lab 4 (express)
    Author: Mahmoud Mohamed Kamal
    Date: 14-04-2022
    File: index.ejs
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Lab 4 (express)</title>

</head>

<body>
    <center>
        <h1>Welcome</h1>
    </center>
</body>

</html>